{% extends 'base.html' %}
{% block title%}Cadastrar Professor{% endblock %}


{% block content %}
<form action="{{ url_for('professor_controller.cadastrar_professor') }}" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o nome">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
      placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="text" class="form-control" name="senha" id="senha" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}